.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-track {
  background-color: #ece6e6;
}

.list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 15px;
}

.list .user {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background: #f3f3f3;
  border: 0;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  transition: 0.5s;
}

.list .user .user__title {
  color: #a3a3a3;
}

.list .user .user__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list .user .user__footer .user__btn {
  background-color: transparent;
  font-size: 12px;
  border: 0;
  color: #4b51ef;
  transition: 0.5s;
  text-decoration: none;
}

.list .user .user__footer .user__btn:hover {
  color: darkmagenta;
}

.list .user:hover {
  border-radius: 0;
  background-color: lightgray;
}

.list .user:hover .user__btn {
  color: darkorange;
}
