.wrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 15px;
  padding: 20px 60px 25px 30px;
}

.wrapper .header__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
